## Data Munging Basics

### Pandas

It is a library that provides fast data cleaning, preparation and analysis and is easy to use for data visualization and machine learning. <br>
It is built on top of NumPy, which makes it easy to work with arrays and matrices(Series and DataFrames in Pandas).

### Filtering and Selecting Data

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
my_series = Series(np.arange(8), index=['1','2','3','4','5','6','7','8'])
my_series

1    0
2    1
3    2
4    3
5    4
6    5
7    6
8    7
dtype: int32

In [5]:
print(my_series['6']) #Label Index
print(my_series[6]) #Integer Index

5
6

In [4]:
np.random.seed(25)
#random.rand(36) method will generate 36 random numbers and reshape method will reshape it into a 6*6 matrix.
my_df = DataFrame(np.random.rand(36).reshape(6,6), index = ['row 1', 'row 2','row 3','row 4','row 5', 'row 6'],
                  columns = ['column 1', 'column 2','column 3', 'column 4', 'column 5', 'column 6'])
print(my_df)

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [6]:
#ix[[row indexes],[column indexes]] - retrieves only those specific rows and columns
print(my_df.ix[['row 3', 'row 5'], ['column 1','column 4']])

       column 1  column 4
row 3  0.447031  0.520719
row 5  0.514244  0.719930

#### Data Slicing

Data slicing allows you to select and retrive all the records starting from the starting label-index, to the ending label-index, and every record in between them.

In [31]:
print(my_series['1':'4']) # Data slicing in series

1    0
2    1
3    2
4    3
dtype: int32

#### Comparing with scalars

In [9]:
print(my_df < 0.2) #DataFrame
print(my_series < 5) #Series

       column 1  column 2  column 3  column 4  column 5  column 6
row 1     False     False     False      True     False      True
row 2     False     False     False     False     False      True
row 3     False     False      True     False     False     False
row 4     False     False     False     False     False     False
row 5     False     False      True     False     False     False
row 6     False     False     False     False     False     False
1     True
2     True
3     True
4     True
5     True
6    False
7    False
8    False
dtype: bool

#### Filtering with scalars

In [11]:
#scalars -> object_name[object_name > scalar_value]
print(my_df[my_df < 0.2])
print(my_series[my_series < 5])

       column 1  column 2  column 3  column 4  column 5  column 6
row 1       NaN       NaN       NaN  0.185911       NaN  0.117376
row 2       NaN       NaN       NaN       NaN       NaN  0.113041
row 3       NaN       NaN  0.161985       NaN       NaN       NaN
row 4       NaN       NaN       NaN       NaN       NaN       NaN
row 5       NaN       NaN  0.034450       NaN       NaN       NaN
row 6       NaN       NaN       NaN       NaN       NaN       NaN
1    0
2    1
3    2
4    3
5    4
dtype: int32

#### Setting values with scalars

In [17]:
# ['label-index','label-index'] = scalar value
my_series['1','2','3'] = 4
print(my_series)

1    4
2    4
3    4
4    3
5    4
6    5
7    6
8    7
dtype: int32

In [18]:
my_df.ix[['row 3', 'row 5'], ['column 1','column 4']] = 4 
print(my_df)

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row 3  4.000000  0.585445  0.161985  4.000000  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  4.000000  0.559053  0.034450  4.000000  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819