## Data Munging Basics

### Removing Duplicates

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
my_df = DataFrame({'column 1': [1,1,2,2,3,3,3],
                  'column 2': ['a','a','b','b','c','c','c'],
                  'column 3': ['A','A','B','B','C','C','C']})
print(my_df)

   column 1 column 2 column 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        C
6         3        c        C

In [4]:
# The duplicated method will search through each row, return a boolean value indicating whether it is a duplicate of another row 
# found earlier in the DataFrame
my_df.duplicated()

0    False
1     True
2    False
3     True
4    False
5     True
6     True
dtype: bool

In [6]:
# Use drop_duplicates method to drop all the duplicate rows from the DataFrame.
my_df_duplicates_dropped = my_df.drop_duplicates()
my_df_duplicates_dropped

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
4         3        c        C

In [7]:
# To drop duplicated rows in the DataFrame based on values in one column, use drop_duplicates(['column_name'])
my_df.drop_duplicates(['column 2'])

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
4         3        c        C